body {
    letter-spacing: 1px;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(../img/main.jpg) no-repeat center center /cover;
}

header {

}

#crumb {
    padding: 0 25px;
}

#info {
    height: 140px;
    padding-left: 37px;
    background: url(../img/info.jpg) no-repeat center center /cover;
}

#info h1 {
    color: #000;
    padding-top: 30px;
}

#kontakt {
    height: 140px;
    padding-left: 37px;
    background: url(../img/kontakt.jpeg) no-repeat center center /cover;
}

#kontakt h1 {
    color: #000;
    padding-top: 30px;
}

#infotekst {
    padding: 10px 25px;
}

#infotekst h1 {
    text-align: left;
}

#infotekst p {
    text-align: justify;
}

#tellitekst {
    padding: 10px 25px;
}

#tellitekst h1 {
    text-align: center;
}

#tellitekst p {
    text-align: justify;
}

.breadcrumb >.breadcrumb-item a {
    font-size: 12px;
    letter-spacing: normal;
    color: #000;
}

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.banner-heading {
    animation-name: fromleft;
    animation-duration: 3s;
}

@keyframes fromleft {
    0% {
        transform: translateX(-6vw);
        opacity: 0.3;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.banner-text {
    animation-name: fromright;
    animation-duration: 3s;
}

@keyframes fromright {
    0% {
        transform: translateX(6vw);
        opacity: 0.3;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

hr {
    border-top: 1px solid #fff;
    width: 75%;
    margin: 0 auto 20px;
    animation-name: appear;
    animation-duration: 3s;
}

@keyframes appear {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.vasak {
    border-right: 1px solid black;
    padding: 0 50px;
}

.parem {
    padding: 0 50px;
}

.form-check input {
    background: yellow;
}

footer {
    background: #000;
}

/* Medium devices (768px and down) */
@media only screen and (max-width: 768px) {
    #middle h1 {
        font-size: 4rem;
    }

    .vasak {
        border-right: none;
        padding-bottom: 20px;
    }
}