body {
    letter-spacing: 1px;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(../img/main.jpg) no-repeat center center /cover;
}

#crumb {
    padding: 0 25px;
}

#info {
    height: 140px;
    padding-left: 37px;
    background: url(../img/mask.jpg) no-repeat center center /cover;
}

#info h1 {
    color: #000;
    padding-top: 30px;
}

#kontakt {
    height: 140px;
    padding-left: 37px;
    background: url(../img/kontakt.jpg) no-repeat center center /cover;
}

#kontakt h1 {
    color: #000;
    padding-top: 30px;
}

#meist {
    height: 140px;
    padding-left: 37px;
    background: url(../img/meist.jpg) no-repeat center center /cover;
}

#meist h1 {
    color: #000;
    padding-top: 30px;
}

#infotekst {
    padding: 10px 25px;
}

#infotekst h1 {
    text-align: left;
}

#infotekst p {
    text-align: justify;
}

#tellitekst {
    padding: 10px 25px;
}

#tellitekst p {
    text-align: justify;
}

.breadcrumb >.breadcrumb-item a {
    font-size: 12px;
    letter-spacing: normal;
    color: #000;
}

.banner {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.banner-heading {
    animation-name: fromleft;
    animation-duration: 3s;
}

@keyframes fromleft {
    0% {
        transform: translateX(-6vw);
        opacity: 0.3;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.banner h1 {
    font-size: 75px;
}

.banner-text {
    animation-name: fromright;
    animation-duration: 3s;
}

@keyframes fromright {
    0% {
        transform: translateX(6vw);
        opacity: 0.3;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.banner p {
    font-size: 24px;
}

#middle hr {
    border-top: 1px solid #fff;
    width: 75%;
    margin: 0 auto 20px;
    animation-name: appear;
    animation-duration: 3s;
}

@keyframes appear {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.ylemine h1 {
    font-size: 70px;
}

.vasak {
    border-right: 1px solid black;
    padding: 0 50px;
}

.vasak h4 {
    font-size: 28px;
}

.vasak-meist {
    padding: 0 30px;
}

.parem {
    padding: 0 50px;
}

#stiil1 h4 {
    font-size: 28px;
}

.parem hr {
    display: none;
}

.parem button {
    margin-top: 10px;
}

.parem-meist {
    padding: 0 30px;
}

.parem-meist button {
    width: 100%;
}

.form-check input {
    background: yellow;
}

footer {
    background: #000;
}

/* Very large devices */
@media only screen and (max-width: 1200px) {
    .vasak h4 {
        font-size: 22px;
    }

    #stiil1 h4 {
        font-size: 22px;
    }
}

/* Large devices (desktops) */
@media only screen and (max-width: 992px) {
    .ylemine h1 {
        font-size: 60px;
    }

    .vasak {
        border-right: none;
    }

    .vasak h4 {
        text-align: center;
        font-size: 32px;
    }

    .parem hr {
        display: flex;
        border-top: 1px solid #000;
        width: 100%;
        padding-bottom: 20px;
    }

    .parem button {
        width: 100%;
    }

    #stiil1 h4 {
        text-align: center;
        font-size: 32px;
    }

    #stiil1 p {
        text-align: center;
    }

}

/* Medium devices */
@media only screen and (max-width: 768px) and (min-width: 577px) {
    .banner h1 {
        font-size: 60px;
    }

    .banner p {
        font-size: 20px;
    }

    .ylemine h1 {
        font-size: 45px;
    }

    .vasak {
        padding-bottom: 20px;
    }

    .vasak h4 {
        font-size: 24px;
    }

    #stiil1 h4 {
        font-size: 24px;
    }

    #infotekst button {
        width: 100%;
    }

    footer p {
        font-size: 0.9rem;
    }
}

/* Small devices (landscape phones) */
@media only screen and (max-width: 576px) and (min-width: 414px){
    .banner h1 {
        font-size: 50px;
    }

    .banner p {
        font-size: 18px;
    }

    .ylemine h1 {
        font-size: 38px;
    }

    .vasak {
        padding: 0 3px 20px 3px;
    }

    .vasak h4 {
        font-size: 25px;
    }

    .parem {
        padding: 0 3px;
    }

    #stiil1 h4 {
         font-size: 25px;
     }

    #infotekst button {
        width: 100%;
    }

    footer p {
        font-size: 0.7rem;
    }
}

/* Super small devices (my phone) */
@media only screen and (max-width: 413px){
    .navbar-brand {
        width: 50%;
    }

    .banner {
        top: 65%;
    }

    .banner h1 {
        font-size: 24px;
    }

    .banner p {
        font-size: 18px;
    }

    .ylemine h1 {
        font-size: 7vw;
    }

    .vasak {
        padding: 0 3px 20px 3px;
    }

    .vasak h4 {
        font-size: 6.5vw;
    }

    .parem {
        padding: 0 3px;
    }

    #stiil1 h4 {
        font-size: 6.5vw;
    }

    #infotekst button {
        width: 100%;
    }

    #tellitekst button {
        font-size: 4.2vw;
    }

    footer p {
        font-size: 0.6rem;
    }
}